div {
    width: 500px;
    height: 200px;
    border-right: 1px solid green;
    border-left: 1px solid black;
    border-bottom:  1px solid red;
    border-top: 1px solid blue;
    border-radius: 20px;
}